.main_title {
    color: var(--Text, #343434);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 64px;
}
.categories {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.sub_title {
    color: var(--Text, #343434);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.sub_categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.choices {
    display: flex;
    align-items: flex-start;
    gap: 64px;
}

.meals {
    color: var(--Text-Faded, #666);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 106.25% */
}
.meals:hover {
    color: var(--Text, #343434);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px; /* 106.25% */
}
.meals_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.meals_wrapper {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.meal {
    position: relative;
    width: 308px;
    height: 209px;
}
.meal_photo {
    width: 308px;
    height: 209px;
    flex-shrink: 0;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 49.93%, rgba(0, 0, 0, 0.61) 100%),  lightgray 50% / cover no-repeat;

}
.meal_info {
    position: absolute;
    bottom: 16px; 
    left: 16px; 
    display: flex;
    width: 143px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.meal_detailed_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}
.meal_title {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.meal_cook {
    color: var(--Background, #FAFAFA);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.actions {
    display: flex;
    width: 128px;
    align-items: center;
    gap: 4px;
}
.numbers {
    display: flex;
    align-items: center;
    gap: 4px;
}
.number {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}