.main_title {
    color: var(--Text, #343434);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 64px;
}
.categories {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.sub_title {
    color: var(--Text, #343434);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.sub_categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.choices {
    display: flex;
    align-items: flex-start;
    gap: 64px;
}

.meals {
    color: var(--Text-Faded, #666);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 106.25% */
}
.meals:hover {
    color: var(--Text, #343434);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px; /* 106.25% */
}
.meals_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.meals_wrapper {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
